// Headings font size
$font-size-headings-step    = 3px
$font-size-headings-base    = 27px
//原来为24
$main-desktop                   = 1050px
//原值为960

// Layout sizes
// --------------------------------------------------
$main-desktop-large             = 1320px
//原值为1200
$content-desktop                = 750px
//原值为700
$content-desktop-large          = 1000px
//原址为900

// Section Header
// Variables for header section elements.
// --------------------------------------------------
$logo-font-size                 = 24px
//原值为20
$subtitle-font-size             = 16px
//原值为13
$font-size-headings-base    = 27px
//原来为24

// Section Pisces.styl
// Variables for Pisces section elements.
// --------------------------------------------------


// Settings for some of the most global styles.
// --------------------------------------------------
$content-desktop-large        = 960px
// 原值为1160px
$content-desktop-largest      = 60%
// 原值为73%

// Sidebar
// --------------------------------------------------
$site-description-font-size       = 15px
//原值为13
$site-state-item-count-font-size  = 18px
//原值为16
$site-state-item-name-font-size   = 15px
//原值为13

// Font size
$font-size-base           = 16px
